<!-- https://stackblitz.com/edit/angular-v6xwte?file=src%2Fapp%2Fapp.component.html -->

<!-- Toolbar -->
<mat-toolbar color="primary" class="mat-toolbar header">    
    
  <!-- <span class="nav-tool-items"> -->
    
  <!-- <div fxShow="true" fxHide.gt-sm="true"> -->
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
  <!-- </div> -->
  <!-- </span>      -->
  <span>Portfolio</span>
  <!-- <a mat-button class="" routerLink="/"> -->
    <!-- <span>Portfolio</span> -->
  <!-- </a> -->
  <!-- <div>Portfolio</div>    -->

  <span class="fill-space"></span>  
  <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/about">About me</a>
      <a mat-button routerLink="/projects">Projects</a>
      <a mat-button routerLink="/contact">Contact</a>
      <!-- <a mat-button routerLink="/">Home</a>       -->
    </div>
  <span class="fill-space"></span>
  <div>Sjoerd Brattinga</div>
  <!-- <button mat-button routerLink="/">
      <div>Sjoerd Brattinga</div>
  </button> -->
</mat-toolbar>



<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav color="primary" 
    #sidenav 
    [mode]="isBiggerScreen() ? 'over' : 'side'" 
    [(opened)]="opened"
    [fixedBottomGap]

    > 
    <!-- [fixedInViewport]="true" -->
    <!-- [fixedBottomGap] -->
    

    <mat-nav-list>
      <div class="profile-image-container">
        <img src="../assets/sjoerd.png" class="profile-image">  
      </div>
      <!-- <mat-divider></mat-divider> -->
      <a routerLink='/about' mat-list-item>
        <mat-icon>person</mat-icon> About Me     
      </a>
      <a routerLink='/projects' mat-list-item>
        <mat-icon>dashboard</mat-icon> Projects
      </a>
      <a routerLink='/contact' mat-list-item>
        <mat-icon>email</mat-icon> Contact Me
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>   
<!-- 
    <section class="container">
      <section class="mat-typography title-group">
        <h1>Portfolio</h1>
        <mat-divider></mat-divider>
      </section>        
    </section> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
